# API port
PORT=4000

# Postgres (docker-compose service on localhost:5432)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_commerce?schema=public"

# e2e test database (created by docker/postgres-init on first container start)
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_commerce_test?schema=public"
